{% extends 'social/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}

<h1>Create Profile Page</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--    {{form.as_p|safe}}-->
    <div class="form-error">{{form.non_field_errors|safe }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{f.id_for_label }}">{{f.label}}: </label> {{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit">Create Profile Page</button>
</form>

{% endif %}
{% endblock %}